<!DOCTYPE html>
<html>
<head>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  	<meta name="theme-color" content="#2196F3">
  	<title>#ilabs</title>
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  	<script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>
  	<%= stylesheet_link_tag 'application', media: 'all' %>
  	<%= javascript_include_tag 'application' %>
  	<%= csrf_meta_tags %>
</head>
<body id="top" class="">

	<% flash.each do |key, value| %>
  		<% if key == 'error' && value == 'contact_error' %>
			<div id="error-contact-modal" class="modal">
		      	<div class="modal-content">
				    <div class="">
				    	<div class="row">
			    			<h5>#ilabs</h5>
				    	</div>
				    	<div class="row center">
				    		<h6>Please fill in correctly all fields of the form to contact us.</h6>
				    	</div>
				    </div>
		      	</div>
		    </div>

		    <a class="error_contact modal-trigger" href="#error-contact-modal" style="visibility: hidden"></a>
		<% elsif key == 'notice' && value == 'contact_success' %>
			<div id="new-contact-modal" class="modal">
		      	<div class="modal-content">
				    <div class="">
				    	<div class="row">
				    		<h5>#ilabs</h5>
				    	</div>
				    	<div class="row center">
				    		<h6>Thank you for contacting us, <b><span style="font-style: italic"><%= @contact_name %></span></b></h6>
				    		<h6>We will contact you via email as soon as possible.</h6>
				    	</div>
				    </div>
		      	</div>
		    </div>

		    <a class="new_contact modal-trigger" href="#new-contact-modal" style="visibility: hidden"></a>

		<% elsif key == 'alert' && value == 'Your account has not been approved by your administrator yet.' %>
			<% if current_page?(new_user_session_path) %>
				<div id="signed-up-modal" class="modal">
			      <div class="modal-content">
					    <div class="">
					    	<div class="row">
				    			<h5>Signed up!</h5>
					    	</div>
					    	<div class="row center">
					    		<h6>Thank you for signing up, <b><span style="font-style: italic"><%= session[:signed_user_nickname] %></span></b>.</h6>
					    		<h6>We will contact you via Twitter once your account is activated.</h6>
					    	</div>
					    </div>
			      </div>
			    </div>

		    	<a class="signed_up modal-trigger" href="#signed-up-modal" style="visibility: hidden"></a>
		    <% end %>

		<% else %>

			<% if current_page?(new_user_session_path) %>
				<div id="signed-up-modal" class="modal">
			      <div class="modal-content">
					    <div class="">
					    	<div class="row">
				    			<h5>#ilabs</h5>
					    	</div>
					    	<div class="row center">
					    		<h6><%= value %></h6>
					    	</div>
					    </div>
			      </div>
			    </div>

		    	<a class="signed_up modal-trigger" href="#signed-up-modal" style="visibility: hidden"></a>
		    <% end %>

	  	<% end %>
	<% end %>

	<!-- Pre Loader -->
	<div id="loader-wrapper">
	    <div id="loader"></div>
	 
	    <div class="loader-section section-left"></div>
	    <div class="loader-section section-right"></div>
	</div>

	<!--Navigation-->
<!-- 	<div id="sign-up-modal" class="modal">
      	<div class="modal-content">
		    <div class="">
		    	<div class="row">
				    <div class="input-field col s12 center">
				    	<input class="sign-up-input" type="email" placeholder="your@email.com">
				    	<label for="first_name">Sign up</label>
				    </div>
		    	</div>
		    	<div class="row center">
		    		<a class="blue btn"><i class="small fa fa-twitter white-text"></i></a>
	    			<a class="blue waves-effect waves-light btn sign-up-button" href="/users/auth/twitter">Sign in with Twitter</a>
		    	</div>
		    </div>
      	</div>
    </div> -->

	<div id="sign-in-modal" class="modal">
      <div class="modal-content">
		    <div class="">
		    	<div class="row">
		    		<h5>Sign in</h5>
		    	</div>
		    	<div class="row center">
		    		<a class="blue btn"><i class="small fa fa-twitter white-text"></i></a>
	    			<a class="blue waves-effect waves-light btn" href="/users/auth/twitter">Sign in with Twitter</a>
		    	</div>
		    </div>
      </div>
    </div>

	<div class="navbar-fixed">
	    <nav id="nav_f" class="default_color" role="navigation">
	        <div class="nav_bar_container">
	            <div class="nav-wrapper">
	            <a href="/" id="logo-container" class="brand-logo">#ilabs</a>
                <ul class="right hide-on-med-and-down">
                	<% if !current_page?(service_index_path) %>
	                    <li><a href="#intro">About</a></li>
	                    <li><a href="#team">Team</a></li>
	                    <li><a href="#contact">Contact</a></li>
                    <% end %>
                	<% if current_user.nil? %>
	                    <!-- <li><a class="user_label modal-trigger" href="#sign-up-modal">Sign up</a></li> -->
	                    <li><a class="user_label modal-trigger" href="#sign-in-modal">Sign in</a></li>
                    <% else %>
                    	<li><a href="/service">Service</a></li>
                    	<% if current_page?(service_index_path) %>
                    		<li>
            					<% if current_identity.provider == "twitter" %>
	                    			<a href="https://twitter.com/<%= current_identity.nickname %>" target="_blank">
            							<i class="small fa fa-twitter white-text"></i>
            						</a>
                				<% end %>
                			</li>
						<% end %>
                    	<li>
                    		<a href="<%= destroy_user_session_path %>" data-method="delete">
								<div class="chip">
							    	<img src="<%= current_identity.image %>" alt="Contact Person">
						    		<%= current_identity.nickname %>
						  		</div>
                    			<span class="user_label logout_label">Sign out</span>
                    		</a>
                		</li>
                    <% end %>
                </ul>
                <ul id="nav-mobile" class="side-nav">
                	<% if !current_page?(service_index_path) %>
	                    <li><a href="#intro">About</a></li>
	                    <li><a href="#team">Team</a></li>
	                    <li><a href="#contact">Contact</a></li>
                    <% end %>
                	<% if current_user.nil? %>
	                    <!-- <li><a class="user_label modal-trigger" href="#sign-up-modal">Sign up</a></li> -->
	                    <li><a class="user_label modal-trigger" href="#sign-in-modal">Sign in</a></li>
                    <% else %>
                    	<li><a href="/service">Service</a></li>
                    	<li>
                    		<a href="<%= destroy_user_session_path %>" data-method="delete">
								<div class="chip">
							    	<img src="<%= current_identity.image %>" alt="Contact Person">
						    		<%= current_identity.nickname %>
						  		</div>
                    			<span class="user_label logout_label">Sign out</span>
                    		</a>
                		</li>
                    <% end %>
                </ul>
	            <a href="/" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
	            </div>
	        </div>
	    </nav>
	</div>

	<%= yield %>
	
	<script type="text/javascript" src="assets/welcome.es6"></script>
</html>
